
/* Constant */
:root {
  --background-color: black;
  --accent: green;
  --accent-two: lightgreen;
  --main-text: white;
  --secondary-text: grey;

}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 25vh;
  height: 100vh;
  padding: 2rem;
  background: #848484;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-desktop a {
  display: block;
  margin: 1rem 0;
  text-decoration: none;
  color: #fff;
}

.content {
  margin-left: 30vh;
  padding: 1rem;
}

section {
  min-height: 100vh;
  padding: 0 1rem;
}

/* Hide sidebar on phone -- got help from ChatGPT, had to fix a lot by hand*/
@media (max-width: 800px) {
  body {
    margin: 0;
  }

  .sidebar {
    display: none;
  }

  .content {
    margin-left: 0;
  }

  .mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #767676;
    position: sticky;
    z-index: 10;
  }

  .nav-mobile {
    flex-direction: column;
    background: #ababab;
  }

  .nav-mobile a {
    padding: 1rem;
    text-decoration: none;
    color: #000000;
  }

  .hidden {
    display: none;
  }
}


/* Gallery layout */ 
.artlayout {
    column-count: 3;
    column-gap: 20px;
}

.artlayout img {
    width: 100%;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 0px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .artlayout {
      column-count: 2;
    }
}