/* global settings */

:root {
    --background-color: rgb(33, 33, 33);
    --main-color: rgb(255, 255, 255); 


}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--main-color)
}

.layout {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    height: 100vh;
}

.sidebar {
    padding: 2rem;
    border-right: 1px solid black;
}

.content {
    padding: 2rem;
}

.work-grid {
    display: grid;
    grid-template-columns: auto;
}

img {
    max-width: 500px;
}