.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  padding: 2rem;
  background: #848484;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-desktop a {
  display: block;
  margin: 1rem 0;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.content {
  margin-left: 300px;
  padding: 1rem;
}

section {
  min-height: 100vh;
  padding: 4rem 2rem;
}

/* Hide sidebar on phone */
@media (max-width: 900px) {
  .sidebar {
    display: none;
  }

  .content {
    margin-left: 0;
  }

  .mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #767676;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    left: 0;
  }

  .nav-mobile {
    flex-direction: column;
    background: #ababab;
  }

  .nav-mobile a {
    padding: 1rem;
    text-decoration: none;
    color: #000000;
  }

  .hidden {
    display: none;
  }
}

.artlayout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
}

.artlayout img {
    width: 100%;
    object-fit: cover;
}

@media (max-width: 900px) {
    .artlayout {
        grid-template-columns: 1fr;
    }
}